<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="../static/facts.png">
        <link rel="stylesheet" href="../static/style.css">
        <title>{{title}}</title>
    </head>
    <body aling="center">
        <div id="center">
            <div class="container">
                <div class="content">
                    <div>{{date}}</div>
                    <div>{{time}}</div>
                    <div>
                        <span class="quotes">“</span>
                        <span>{{fact}}</span>
                        <span class="quotes">”</span>
                    </div>
                </div>
            </div>
            <div>
                <form>
                    <button>Next Fact</button>
                </form>
            </div>
        </div>
    </body>
</html>